<div class="container mt-lg-1" >
    <app-product-filter (productosFiltrados)="recibirProductosFiltrados($event)"></app-product-filter>
</div>
<section>
<div class="row g-2 mt-3" >
 @for (product of productosFiltrados; track $index) {
        <article class="col-12 col-md-6 col-lg-4 mt-3">
            <app-product-card [product]="product"  (envioEliminar)="eliminarProducto($event)"></app-product-card>
        </article>
    }@empty {
            <h1>No hay productos</h1>
        }    
</div>
<app-product-form (AddProduct)="onAddProduct($event)"></app-product-form>
</section>



