<section class="mt-5 container">
    <form [formGroup]="altaForm" (ngSubmit)="setDataForm()">
     
        <fieldset class="border p-3 mb-4">
            <legend class="w-auto font-weight-bold text-uppercase">Alta Producto</legend>
     
            <div class="form-group">
                <label for="id" class="font-weight-bold">ID:</label>
                <input type="number" class="form-control" id="id" formControlName="id" placeholder="Introduce el ID" required>
            </div>
        @if(camposRequeridos('id', 'required')){
            <p class="error">Tienes que introducir un ID valido</p>
        }
      
            <div class="form-group">
                <label for="name" class="font-weight-bold">Nombre:</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Introduce el nombre">
            @if(camposRequeridos('name', 'required')){
                    <p class="error">Tienes que introducir un nombre valido</p>
                }
            @if(camposRequeridos('name', 'minlength')){
                <p class="alerta">El nombre debe tener al menos tres caracteres</p>
            }
            </div>
       
            <div class="form-group">
                <label for="image" class="font-weight-bold">Imagen URL:</label>
                <input type="text" class="form-control" id="image" formControlName="image" placeholder="Introduce la URL de la imagen">
                @if(camposRequeridos('image', 'required')){
                    <p class="error">Tienes que introducir una URL válida</p>
                }
                @if(camposRequeridos('image', 'pattern')){
                    <p class="alerta">No es una URL válida</p>
                }
            </div>
          
            <div class="form-group">
                <label for="description" class="font-weight-bold">Descripción:</label>
                <input type="text-area" class="form-control" id="description" formControlName="description" placeholder="Introduce la categoría">
                @if(camposRequeridos('description', 'minlenth')){
                    <p class="error">Tienes que contener al menos seis caracteres</p>
                }
                @if(camposRequeridos('description', 'required')){
                    <p class="error">Tienes que introducir una descripción válida</p>
                }
            </div>
      
            <div class="form-group">

                <label for="price" class="font-weight-bold">Precio:</label>
                <input class="form-control" type="number" id="price" formControlName="price" placeholder="Introduce el precio" name="price">
              
                @if(camposRequeridos('price', 'required')){
                    <p class="error">Tienes que introducir un precio válido</p>}

                    @if(camposRequeridos('price', 'required')){
                        <p class="error">Tienes que ser mayor a 1$</p>
                    }
            </div>
         
            <div class="form-group">
                <label for="category" class="font-weight-bold">Categoría:</label>
                <input type="text" class="form-control" id="category" formControlName="category" placeholder="Introduce la categoría">
            </div>
            @if(camposRequeridos('category', 'required')){
                <p class="error">Tienes que introducir una categoría válida</p>
            }

            <div class="form-group">
                <label class="font-weight-bold">Estado:</label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="active" id="active" [value]="true" formControlName="active">
                    <label class="form-check-label" for="active">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="active" id="active" [value]="false" formControlName="active">
                    <label class="form-check-label" for="inactivo">Inactivo</label>
                </div>
            </div>

            <div class="form-group text-center mt-4">
                <button type="submit" class="btn lh-base" style="background-color: #3a948c">Guardar</button>
            </div>
        </fieldset>
    </form>
</section>